@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
 font-family: font-serif;

}
@media (max-width: 790px){
  .hero{
    background-position: center;
    background-size: cover;

  }
}